@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <p>Checking your authorisation...</p>
                </Authorizing>
                <NotAuthorized>
                    <p class="text-red-500">You're not authorised to view this page.</p>
                    <p>Your roles: @string.Join(", ", context.User.Claims.Where(c => c.Type == "roles").Select(c => c.Value))</p>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
@code
{
   
}
