@page "/profile"
@using MextFullstackSaaS.Application.Features.Users.Queries.GetProfile
@layout MainLayout
@inject HttpClient HttpClient
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager

<div class="flex items-center justify-center">
    <AuthorizeView>
        <Authorized>
            @if (userProfile is null)
            {
                <Loading/>
            }
            else
            {
                <div class="card w-96 bg-base-100 shadow-2xl">
                    <div class="card-body">
                        <div class="flex">
                            <p class="card-title">Your Profile</p>
                            <div class="avatar">
                                <div class="w-24 rounded-full">
                                    <img src="@GetProfileImageUrl()" />
                                </div>
                            </div>
                        </div>
                        <p>Username: @userProfile.UserName</p>
                        <p>Name: @userProfile.FirstName</p>
                        <p>Surname: @userProfile.LastName</p>
                        <p>Email: @userProfile.Email</p>
                        <p>Credits: @userProfile.Credits</p>
                    </div>

                    <div class="card-actions mb-3 justify-center gap-8 pb-2">
                        <button class="btn btn-warning">Buy Credits</button>
                        <button class="btn btn-info">Edit Profile</button>
                    </div>
                </div>
            }
        </Authorized>
        <NotAuthorized>
            <p>You are not authorized to view this page.</p>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    private UserGetProfileDto userProfile;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();

        if (authState.User.Identity?.IsAuthenticated ?? false)
        {
            try
            {
                var response = await HttpClient.GetAsync("Users/profile");

                // Check if the response is successful
                if (response.IsSuccessStatusCode)
                {
                    // Deserialize the JSON response into GetUserProfileDto
                    userProfile = await response.Content.ReadFromJsonAsync<UserGetProfileDto>();
                }
                else
                {
                    // Handle unsuccessful response (e.g., unauthorized, not found)
                    Console.WriteLine($"Error fetching user profile: {response.StatusCode}");
                }
            }
            catch (HttpRequestException ex)
            {
                Console.WriteLine($"Error fetching user profile: {ex.Message}");
                // Handle other request-related exceptions
            }
        }
    }

    private string GetProfileImageUrl()
    {
        // Check if userProfile.ImageUrl is empty or null
        if (string.IsNullOrEmpty(userProfile?.ProfileImage))
        {
            // Use default image path from wwwroot
            return "/images/profile.jpeg";
        }

        return userProfile.ProfileImage;
    }
}